<?xml version="1.0"?>
<config>
    <modules>
        <Etre_TranslationSitter>
            <version>0.2.0</version>
        </Etre_TranslationSitter>
    </modules>
    <global>
        <models>
            <etre_translationsitter>
                <class>Etre_TranslationSitter_Model</class>
                <resourceModel>etre_translationsitter_resource</resourceModel>
            </etre_translationsitter>
            <etre_translationsitter_resource>
                <class>Etre_TranslationSitter_Model_Resource</class>
                <entities>
                    <translations>
                        <table>core_translate</table>
                    </translations>
                </entities>
            </etre_translationsitter_resource>
            <core>
                <rewrite>
                    <translate>Etre_TranslationSitter_Model_Rewrite_Core_Translate</translate>
                </rewrite>
            </core>
        </models>
        <blocks>
            <etre_translationsitter>
                <class>Etre_TranslationSitter_Block</class>
            </etre_translationsitter>
        </blocks>
        <helpers>
            <etre_translationsitter>
                <class>Etre_TranslationSitter_Helper</class>
            </etre_translationsitter>
        </helpers>
        <resources>
            <etre_translationsitter_setup>
                <setup>
                    <module>Etre_TranslationSitter</module>
                </setup>
            </etre_translationsitter_setup>
        </resources>
        <events>

        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <translationsitter before="Mage_Adminhtml">Etre_TranslationSitter_Adminhtml</translationsitter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>